
/* CSS RESET Start */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET Ende */

/* Animations start */

.text-box {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;  
  color: white;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
   /*  Animation decalaration   */
    animation-name: moveInleft;
    animation-duration: 3s;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15.9px;
  
    animation-name: moveInRight;
    animation-duration: 3s;
}

@keyframes moveInleft {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0%;
    }
}

@keyframes moveInRight {
  0% {
      margin-right: -100%;
  }
  100% {
    margin-right: 0%;
  }
}

/* Animations end */

div#main {
  display: flex;
  direction: column;
}

#logo {
    height: 75px;
	width: 250px;
    margin: 10px;
}

p.block {
  text-align: justify;
  margin-top: 18px;
  margin-bottom: 18px;
}

#logo:hover {
  cursor: pointer;
}

#footer {
  width: 100%;
  text-decoration: none;
  background: black;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
}

.fb-logo {
  background: #4661b0;
  color: white;
  width: 60px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 40px;
  font-family: Arial;
  display: table-cell;
}

.fb {
  background: #4661b0;
  color: white;
  width: 60px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 40px;
  font-family: Arial;
  display: table-cell;
}

.fb::before, .fb-logo::before {
  content: 'f';
  text-align: center;
  vertical-align: middle;
}

.fb:hover, .fb-logo:hover {
  color: red;
  background: #6276b3;
}

#footer a {
  margin-right: 10px;
  margin-bottom: 5px;
}

.ia {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  min-width: 120px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 20px;
}

.ia:hover {
  border-color: red;
  color: red;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
  color: red;
}

h2.subtitle {
  color: red;
}

p.subtitle {
  font-size: 16px;
}

#header {
    /*
    background-image: linear-gradient(to right, black , gray);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(128, 128, 128, 0.7) 90%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(128, 128, 128, 0.7) 90%); 
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(128, 128, 128, 0.7) 90%);
    */
    background: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: -webkit-sticky; /* Safari */
    /* position: sticky; */
    top: 0;
    z-index: 999;
}

#header .icon {
  display: none;
  text-decoration: none;
  font-family: 'Times New Roman';
  font-size: 65px;
  color: white;
}

/* start social media links */ 
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

/* end social media links */ 

.fixed-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

div#team_members {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team_member {
}

.container {
  display: flex;
  flex-direction: row;
}

.container-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mobile-bar {
  display: none;
}

.responsive-bar {
  display: block;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-grid-item {
  border: solid;
  margin: 5px;
}

/* On screens that are 1500px or less, set flex direction to column */
@media screen and (max-width: 1500px) {
  .container-links {
    display: flex;
    flex-direction: column;
  }

  #image-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .heading-primary-main {
    display: block;
    font-size: 30px;
    letter-spacing: 20px;
  }

  .heading-primary-sub {
    display: block;
    font-size: 16px;
    letter-spacing: 10px;
  }

}

/* On screens that are 500px or less, set flex direction to column */
@media screen and (max-width: 500px) {
  .shape-news {
    margin-right: 10px;
  }

  .container {
    flex-direction: column;
  }

  #header {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #news {
	 width: 250px;
  }

  #footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .fb {
    height: 50px;
    width: 100%;
  }

  .nav-element {
    display: none;
  }

  #header .icon {
    display: block;
    color: white;
  }

  .ia {
    margin-right: unset;
    margin-bottom: 10px;
  }

  #image-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .heading-primary-main {
    display: block;
    font-size: 20px;
  }

  .heading-primary-sub {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

}

.wrapper-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
}

.wrapper-column {
  display: flex;
  flex-direction: column;
}

/* shapes within flex containers */

.shape {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
  opacity: .9;
}

.shape-news {
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
  opacity: .9;
  flex-grow: 1;
}

.shape-locations {
  padding: 20px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
  opacity: .9;
}

.shape-contact {
  padding: 20px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
  opacity: .9;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    padding: 10px;
    margin: 5px;
}

.card-link {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  padding: 10px;
  margin: 5px;
}

.card-photo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;
  margin: 5px;
}

  .card-small {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    padding: 10px;
    margin: 5px;
    flex-grow: 7;
  }
  
  .title {
    color: black;
    font-size: 16px;
  }

.nimg {
    border: 2px solid black;
    width: 170px;
    height: 200px;
    min-width: 150px;
    min-height: 200px;
    max-width: 150px;
    max-height: 300px;
}

.link_white:hover {
  border-color: red;
  color: red;
}

i:hover, a.link:hover {
  color: red;
}

div.card-link:hover {
  opacity: .7;
}

.link {
    text-decoration: none;
    color: black;
}

.link_white {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 120px;
  min-width: 120px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 20px;
}
